<body class="tela-entrar">
    <header class="container-entrar-header">
        <div>
            Spassu BookStore
        </div>
    </header>

    <main class="container-entrar-principal">
        <div id="container-entrada" class="container-entrada">
            <img src="assets/img/livros.jpg">
        </div>
        <div id="container-entrar" class="container-entrar-acesso">
            <div class="subtitulo" (click)="entrar()">
                Entrar
                <img src="assets/img/aceito_verde.svg" style="margin-left: 10px;">
            </div>

        </div>
    </main>

    <footer class="container-rodape" id="container-rodape">
        <div class="termos-redes-sociais">
            <h1>Termos e condições de uso &nbsp;&nbsp;&nbsp;|</h1>
            <h1>Privacidade &nbsp;&nbsp;&nbsp;|</h1>
            <h1>Segurança &nbsp;&nbsp;&nbsp;|</h1>
            <h1>Redes sociais &nbsp;&nbsp;&nbsp;</h1>
            <img src="assets/img/redes_sociais.png">
        </div>
        <div class="copyright">
            <h1>Copyright 2025 - Spassu BookStore - Todos os direitos reservados.</h1>
        </div>
    </footer>

</body>