<nav class="navbar navbar-expand-lg navbar-dark bg-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-menu" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/principal">Home</a>
                    <a class="dropdown-item" routerLink="/livros">Livros</a>
                    <a class="dropdown-item" routerLink="/autores">Autores</a>
                    <a class="dropdown-item" routerLink="/assuntos">Assuntos</a>
                    <a class="dropdown-item" routerLink="/index">Voltar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>